---
layout: main.hbs
pagination:
    data: posts.data
    size: 1
    alias: post
eleventyComputed:
    title: "{{ post.title }}"
permalink: "blog/{{ post.slug }}/"
---

<header>
    <h1>{{ post.title }}</h1>
    <p class="post-date">Published on {{ post.date }}</p>
    <blockquote class="post-excerpt">{{ post.excerpt }}</blockquote>
    {{{ post.image.html }}}
</header>

<article>
    {{{ post.content }}}
</article>
